/* EditNoteForm.css */

.edit-note-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-note-form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* Drop shadow effect */
}

.note-input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.update-note-btn,
.cancel-btn {
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.update-note-btn {
    background-color: #078dc2;
    color: #fff;
    margin-right: 5px;
}

.cancel-btn {
    background-color: #6c6d6d;
    color: #fff;
}

.update-note-btn:hover {
    background-color: #067aa8;
}

.cancel-btn:hover {
    background-color: #5a5858;
}